<!-- <mat-card class="example-card m-5">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <h3>GOLD</h3>
    </mat-card-title>
   
  </mat-card-header>
  <div class="container m-2">
    <div class="col-sm-12">
    <div class="col-sm-6">
      <img mat-card-image src="https://assetscdn.paytm.com/images/cinema/MovieIcons/Gold-web-poster-updated.jpg" alt="Movie Poster">
    </div>
    <div class="col-6">
      <mat-card-content>
    
        After India's independence, a drunk Indian Hockey Team Manager (pre-independence), Tapan Das (Akshay Kumar), holds aspirations of playing hockey as a free country, coaching a novice hockey team to earn independent India's first Olympic gold medal at the 1948 Summer Olympics while battling his own personal demons and the independence era situations.
      </mat-card-content>
      <mat-card-content>
    
          Genre: Drama,Biography
          Language:Hindi
          Release data:12-
        </mat-card-content>
    </div>
  </div>
  </div>
</mat-card> -->

<!-- <div class="container m-4">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://assetscdn.paytm.com/images/cinema/MovieIcons/Gold-web-poster-updated.jpg" alt="Movie Poster">
        <button btn-primary (onClick)="bookTicket()">Book Now</button>
      </div>
      <div class="col-sm-8" p-2>
        <h5>Synopsis:</h5>
        <p>After India's independence, a drunk Indian Hockey Team Manager (pre-independence), Tapan Das (Akshay Kumar), holds
          aspirations of playing hockey as a free country, coaching a novice hockey team to earn independent India's first
          Olympic gold medal at the 1948 Summer Olympics while battling his own personal demons and the independence era
          situations.</p>
        <h5>Genre:</h5>Drama,Biography
        <h5>Language:</h5>Hindi
        <h5>Release date:</h5>15-08-2018
      </div>
    </div>
  </div>
</div> -->
<mat-card>

  
  <img src="https://assetscdn.paytm.com/images/cinema/MovieIcons/Gold-web-poster-updated.jpg" alt="Movie Poster">
  <button md-raised-button color='primary'>primary</button> 
</mat-card>
