@import '~@angular/material/theming';

// always include only once per project

@include mat-core();

// import our custom theme
// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-red);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

// specify theme class eg: <body class="my-theme"> ... </body>

  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);





















.example-header-image {
    background-size: cover;
  }
