<!-- Search form -->
<form class="form-inline mx-5 my-4">
    <input class="form-control" type="text" [(ngModel)]="city" name="city" placeholder="Search" aria-label="Search">
    <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit" (onClick)="searchCity(city)">Search</button>
</form>
<mat-grid-list cols="12" rowHeight="80px">
    <h3>Trending Movies</h3>
    <div *ngFor="let movie of movies">
        <mat-grid-tile colspan="3" rowspan="6">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title><a>{{movie.movieTitle}}</a></mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{movie.movieposter}}" alt="Poster of movie">
                <mat-card-actions>
                    <button mat-button routerLink="/moviedetail" (click)="getMovieInfo(movie)">Movie Details</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </div>
</mat-grid-list>