<p>
  wishlist works!
</p>
<div >
    <section class="d-flex flex-sm-row flex-column row-h1">
            <article class="p-4 item-h1">
                    <div class="card" style="width:380px">
                            <img class="card-img-top" src="/img/geeta.jpg " alt="Card image" width=100px height=250px>
                            <div class="card-body">
                                    <h4 class="card-title">Geeta govindam</h4>
                                   
                                    <a href="#" class="btn btn-primary">Add</a>
                            </div>
                    </div>
            </article>
            <br>
            <article class="p-4 item-h1">
                    
                    <div class="card" style="width:380px">
                            <div class="card-body">
                                            <img class="card-img-top" src="/img/gold.jpg " alt="Card image" width=100px height=250px>
                                   
                                            <h4 class="card-title">Gold</h4>
                                  
                                    <a href="#" class="btn btn-primary">Delete</a>
                            </div>
                           
                    </div>
            </article>
            <article class="p-4 item-h1">
                    <div class="card" style="width:380px">
                            <div class="card-body">
                                            <img class="card-img-top" src="/img/viswa.jpg " alt="Card image"  width=100px height=250px>
                                    <h4 class="card-title">Viswa </h4>
                                   
                                    <a href="#" class="btn btn-primary">Update</a>
                            </div>
                           
                    </div>
            </article>
    </section>
</div>