<div class="container">
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Id" [(ngModel)]="theatre.theatreId">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Name" [(ngModel)]="theatre.theatreName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter City" [(ngModel)]="theatre.theatreCity">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Address" [(ngModel)]="theatre.theatreLocation">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Liscense" [(ngModel)]="theatre.theatreLicenseNo">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Capacity" [(ngModel)]="theatre.numberOfSeats">
  </mat-form-field>
  <br>
  <button type="submit" class="example-button" name="button" class="btn btn-success" (click)="onSubmit()">Add Theatre</button>

</div>