nav{
    font-family: 'Ovo',serif;
    
  }
.nav li{
  padding:10px;
  float:right;
}
footer li{    
  display:inline;
  padding:20px;
             }
   .item-h1 {
              flex:1;
              margin-right: 10px;
              font-family: 'Ovo',serif;
             }