<html>

<head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="includes/js/modernizr-2.6.2.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <meta name="keywords" contents="tech trends,technology,information,internet,computer,system,research,storage">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Information technology in India is an industry consisting of two major components: IT services and business process outsourcing (BPO).">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js">
        <link href="https://fonts.googleapis.com/css?family=Ovo|Sigmar+One" rel="stylesheet">
</head>

<body>
        
<!--                    
<form class="form-inline my-2 my-lg-0">
                <input type="text" class="form-control mr-sm-2" placeholder="search">
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
              </form> -->
              
        <section id="myCarousel" class="carousel slide" data-ride="carousel">


                <ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                </ul>


                <section class="carousel-inner">
                        <article class="carousel-item active" id="slide1">
                                <img src="/img/geeta.jpg " alt="geeta" width=500px, height=400px>
                        </article>
                        <article class="carousel-item" id="slide2">
                                <img src="/img/gold.jpg" alt="gold" width=500px,height=400px>
                        </article>
                        <article class="carousel-item" id="slide3">
                                <img src="img/viswa.jpg" alt="viswa" width=500px,height=400px>
                        </article>
                </section>


                <a class="carousel-control-prev" routerLink="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" routerLink="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                </a>

        </section>


        <div >
                <section class="d-flex flex-sm-row flex-column row-h1">
                        <article class="p-4 item-h1">
                                <div class="card" style="width:380px">
                                        <img class="card-img-top" src="/img/geeta.jpg " alt="Card image" width=100px height=250px>
                                        <div class="card-body">
                                                <h4 class="card-title">Geeta govindam</h4>
                                               
                                                <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                </div>
                        </article>
                        <br>
                        <article class="p-4 item-h1">
                                
                                <div class="card" style="width:380px">
                                        <div class="card-body">
                                                        <img class="card-img-top" src="/img/gold.jpg " alt="Card image" width=100px height=250px>
                                               
                                                        <h4 class="card-title">Gold</h4>
                                              
                                                <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                       
                                </div>
                        </article>
                        <article class="p-4 item-h1">
                                <div class="card" style="width:380px">
                                        <div class="card-body">
                                                        <img class="card-img-top" src="/img/viswa.jpg " alt="Card image"  width=100px height=250px>
                                                <h4 class="card-title">Viswa </h4>
                                               
                                                <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                       
                                </div>
                        </article>
                </section>
        </div>
</body>

</html>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="row">
        <div class="col-sm-7" style="background-color:lavender;">
                <h1>Top Rated Movies</h1>
                <br>

                <div class="container">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                               
                                <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                       
                                        <article class="carousel-item active" id="slide1">
                                                <img src="/img/geeta.jpg " alt="geeta" width=500px, height=400px>
                                        </article>

                                        <div class="item">
                                                <img src="/img/gold.jpg" alt="Chicago" width=500px, height=400px>
                                        </div>
                                        <div class="item">
                                                <img src="img/viswa.jpg" alt="New york" width=500px, height=400px>
                                        </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                </a>
                        </div>
                </div>
        </div>
        


</div> -->