.carousel-inner img {
    width: 100%;
    height: 100%;
    margin-top:100px;
    font-family: 'Ovo',serif;
} 
.carousel-wrapper {
    overflow: hidden;
  }
  .carousel {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .carousel-inner {
    display: flex;
  }